* {
    font-family: Montserrat, sans-serif !important;
}

#container {
    padding: 75px 0px !important;
    background-color: #f5f5f5 !important;
}

.ratingText {
    margin: 0;
}

.ratingStar {
    margin-right: 5px !important;
}

.appLogo {
    width: 100px !important;
    height: 100px !important;
}

.appName {
    font-size: 32px !important;
    font-weight: 700px !important;
    line-height: 1.5 !important;
    margin-left: 25px !important;
    margin-bottom: 0 !important;
    margin-top: 0 !important;
    max-width: 400px !important;
}

.appRating {
    margin: 0 !important;
    padding-bottom: 10px !important;
}

.appPlan {
    margin: 0 !important;
    color: #2f373a !important;
}

.appDesc {
    font-size: 20px !important;
    line-height: 1.5 !important;
    font-weight: 300 !important;
    margin: 0 !important;
}

.showcaseImage {
    height: 100% !important;
    width: 100% !important;
    margin: 0 auto !important;
    border-radius: 5px !important;
    background-size: cover !important;
    background-position: center !important;
    background-image: url("https://via.placeholder.com/1278x948") !important;
}

.showcaseImageList {
    height: 100% !important;
    width: 100% !important;
    margin: 35px auto 0 auto !important;
    border-radius: 5px !important;
}

.showcaseImageList > .showcaseImage {
    max-width: 150px !important;
}